body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #93c5fd;
  }

  #mainContainer {
    display: flex;
    flex: 1;
    padding: 20px;
  }

  #listContainer {
    flex-basis: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-btn {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: none;
  background-color: #93c5fd;
  color: white;
  cursor: pointer;
}

.list-btn:hover, .delete-list-btn:hover {
  background-color: #f9b8dc;
}

.delete-list-btn {
  background-color: #93c5fd;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

  #taskContainer {
    flex-basis: 60%;
    padding: 30px;
    background-color: #f9a8d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
  }
  
  #taskContainer li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9a8d4;
    color: white;
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-size: 18px;
  }

  #taskContainer h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
  }

  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .task input[type="checkbox"] {
    margin-right: 10px;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }

  .delete-btn {
    margin-left: 10px;
    background-color: #93c5fd;
    color: white;
    border: solid 2px #569def;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }

  .delete-btn:hover {
    background-color: #569def;
  }

  #inputContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #inputContainer input {
    width: 200px;
    background-color: #f9b8dc;
    border: solid 2px #f9a8d4;
    border-radius: 5px;
    color: white;
  }
  
  #inputContainer button {
    background-color: #93c5fd;
    color: white;
    border: solid 2px #569def;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #inputContainer button:hover {
    background-color: #569def;
  }